*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

.container{
    height: 100%;
    flex-wrap: wrap;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
    
}

.background{
    position: absolute;
    height: 90%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    transform: translateZ(-40px) scale(6);
}

.foreground{
    
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.3);
    
}

.image{
    height: 30vw;
}

.intro{
    justify-content: flex-end;
    align-items: center;
    background-color: lightgray;
    font-weight: 600;
    font-size: larger;
}


h1{
    position: absolute;
    top: 4rem;
    font-size: 4rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10 rgba(0, 0, 0, 0.3);
}

section{
    background-color: rgba(45, 45, 45);
    color: white;
    padding: 5rem 0;
}

.about{
    font-size: 5rem;
    padding: 0 10rem;
}

.text{
    height: max-content;
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed; /* For fixing the position of image */
    background-position: center;
    background-size: cover;    /* It will cover image according to width and height */
    height: 500px;
    /* object-fit: cover; */
}

.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
}

.bg1{
    background-image: url(scholar.png);
}

.bg2{
    background-image: url(career-guidance-56a0f25c5f9b58eba4b572ac.png);
}

.bg3{
    background-image: url(opportunity\ \(1\)\ \(1\).png);
}



.contact{
    position: absolute;
    /* top: 4rem; */
    /* transform: translateX(-5px) translateY(-80px); */
    font-size: 4rem;
    letter-spacing: 4px;
    color: rgba(45, 45, 45);
    text-shadow: 0 0 10 rgba(0, 0, 0, 0.3);
}

.contact-form{
    color: black;
    width: 50%;
    margin-top: 5px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid brown;
}

.contact-frame-section{
    /* height: max-content;
    position: fixed; */
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.icons{
    align-self: center;
}

.frame{
    padding-right: 10px;
}

#submit, #reset{
    background-color: rgb(191, 94, 94);
    width: 80px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}